body {
    font-size: 15px;
    width: 100%;
    font-family: Outfit;
    background-color: hsl(212, 45%, 89%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 320px;
    height: 495px;
    border-radius: 5%;
    background-color: hsl(0, 0%, 100%);
    margin: 3.1rem auto;
}

.qr-code-image {
    width: 288px;
    height: 288px;
    border-radius: 5%;
    margin: 10px 16px;
}

h2, p {
    margin-top: 0;
    text-align: center;
}

h2 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    padding: 5px auto;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}